@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --radius: 1rem;
  }
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

body {
  @apply bg-slate-950 text-white overflow-x-hidden;
  font-family: 'Inter', sans-serif;
}

/* Estilo Game Show */
.game-button-shadow {
  box-shadow: 0 4px 0 rgb(30, 58, 138), 0 8px 15px rgba(0, 0, 0, 0.4);
}

.game-button-shadow:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgb(30, 58, 138), 0 4px 10px rgba(0, 0, 0, 0.4);
}